.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}

.sold-text {
  color: red;
}

.available-text {
  color: teal;
}

.segment-css {
  width: 700px;
}
